@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains";
    src: local('JetBrainsMono-VariableFont_wght'), url('./assets/JetBrainsMono-VariableFont_wght.ttf') format("truetype")
}

body {
    font-family: JetBrains, sans-serif;
}